@font-face {
  font-family: "Mono";
  src: local("Mono"), url(../../fonts/JetBrainsMono-Regular.ttf) format("woff");
}

.component {
  width: 240px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.priceAndIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.componentPrice {
  margin-right: 9px;
}

.componentName {
  font-family: "Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
  text-align: center;
}
