@font-face {
  font-family: "Mono";
  src: local("Mono"), url(../../fonts/JetBrainsMono-Regular.ttf) format("woff");
}

.portionsCounter {
  font-family: "Iceland";
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -16px;
  top: 0px;
  background: #4c4cff;
}

.component {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.priceAndIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.componentPrice {
  margin-right: 9px;
  font-family: Iceland;
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.componentName {
  font-family: "Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f3;
  text-align: center;
}
