.section {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 180px;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: "Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
}

.spacer {
  margin-bottom: 24px;
}

.button {
  display: flex;
  margin-bottom: 80px;
  justify-content: center;
}

.textBox {
  display: flex;
  justify-content: center;
}

.loginText {
  font-family: "Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8585ad;
  margin-right: 8px;
}

.urlText {
  font-family: "Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8585ad;
  color: #4c4cff;
  cursor: pointer;
}
