.section {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.components {
  width: 600px;
  /* border: 1px solid gold; */
}
.order {
  width: 600px;
  margin-left: 40px;
  border: 1px solid green;
}

.selectorContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.componentsAndOrder {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.componentsSelector {
  width: 200px;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mono";
}

.componentsSelectorSelected {
  border-bottom: 2px solid #4c4cff;
}
.first {
  grid-column-start: 1;
  grid-column-end: 3;
}

.header {
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: #f2f2f3;
  /* border: 1px solid yellow; */
}

@font-face {
  font-family: "Mono";
  src: local("Mono"), url(../../fonts/JetBrainsMono-Regular.ttf) format("woff");
}

.componentsHeader {
  font-family: "Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
  border: 1px solid red;
}

.componentsListContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  column-gap: 56px;
  row-gap: 32px;
  text-align: center;
  border: 1px solid gold;
  padding: 0 32px;
}

.componentsList {
  overflow: scroll;
  height: 400px;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f2f37;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f2f37;
}
